:root {
  font-family: sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.panel {
  padding: 1rem;
  background-color: #eee;
}

.canvas {
  flex: 1;
}

.inputs-wrapper {
  display: flex;
  gap: 1rem;
}

.slider-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slider-container p {
  margin: 0;
}

#chairName {
  background-color: #000;
  color: #fff;
  font-weight: normal;
  font-size: 1rem;
  /*padding: 0.5rem;*/
  border-radius: 0.3rem;
}
